{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crea Corso</title>
</head>
<body>
<div  class="mx-auto rounded" style="max-width: 700px; margin-top:1%; background-color:#007483;  mborder-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
    <form method="POST" style="background-color:#007483;">
        <!--Inserisci nome del corso-->
      <div class="mx-auto rounded " style="max-width: 480px;">
        <p class="display-4"><font color="#ffffff">Nuovo corso</font></p>
        <input type="text" class="form-control" id="nomecorso" name="nomecorso" aria-describedby="NOME CORSO"
               placeholder="Inserisci nome del corso">
      </div>
    <!--Seleziona insegnante-->
      {% if user.isadmin == True %}
      <div class="mx-auto" style="max-width: 380px; margin-top: 20px;">
          <div class="form-group">
              <label for="profselect"><font color="#ffffff">Seleziona insegnante</font></label>
            <select multiple class="form-control" id="profselect" name="profselect">
              {%for i in range(0, lenins)%}
               <option>{{insegnanti[i].nome + " " +insegnanti[i].cognome}}</option>
             {% endfor %}
            </select>
         </div>
      </div>

      {% endif %}
        <!--Inserisci descrizione-->
      <div>
          <label for="descrizione"><font color="#ffffff">Descrizione:</font></label>
          <input type="text" class="form-control" name="descrizione" id="descrizione" rows="3" placeholder="Questa sarà la descrizione del corso bla bla bla"></input>
      </div>
        <div class="mx-auto" style="max-width: 200px;">
            <label for="mod"><font color="#ffffff">Modalità: </font> </label>
        <select class="form-control" id="mod" name="mod">
          <option>Offline</option>
          <option>Online</option>
          <option>Mista</option>
        </select>
      </div>
        <div class="mx-auto" style="max-width: 80px; margin-top: 5%;">
                  <input type="submit" class="btn btn-outline-light" style="margin-bottom: 10%; margin-left: 10%; " value="Crea">
        </div>

    </form>

    </div>
</body>
</html>
{% endblock %}